@media only screen and (max-width: 970px) {
    .karta {
        display: block;
        margin-top: 350px;
    }

    .sedans {
        border-radius:  10px 10px 0 0;
    }

    .luxury {
        border-radius:  0 0 10px 10px ;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .karta {
        margin-top: 490px;
    }
}
