* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:hsl(0, 0%, 95%);
}

.karta {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.mala_karta {
    padding: 45px;
    width: 320px;
    padding-right: 64px;
}

h1 {
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    padding-top: 15%;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 30px;
    line-height: 170%;
    Font-size: 15px;
}

.sedans {
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suvs {
    background: hsl(184, 100%, 22%);
}

.luxury {
    background: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.learn {
    background:hsl(0, 0%, 95%);
    margin-top: 90px;
    width: 130px;
    width: 150px;
    border-radius: 40px;
    padding: 15px 20px;
    text-align: center;
    border: 2px solid hsl(0, 0%, 95%);
}

.sedans .learn {
    color: hsl(31, 77%, 52%);
}

.suvs .learn {
    color: hsl(184, 100%, 22%);
}

.luxury .learn {
    color: hsl(179, 100%, 13%);
}

.learn:hover {
    background: inherit;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

